<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>ABC</ion-list-header>
          <ion-note>hi@abc.com</ion-note>

         <!--  <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" [routerLink]="gghh" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start"></ion-icon>
              <ion-label>ggg</ion-label>
            </ion-item>
          </ion-menu-toggle> -->
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Module</ion-list-header>

          <ion-item lines="none" routerLink="/attendence" (click)="close()">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>Attendence</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/attendence-expense" (click)="close()">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>Expense</ion-label>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
