<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <div *ngIf="!address">
    <ion-button color="danger" (click)="checkPermission()">
      Enable GPS Locaction
    </ion-button>
  </div> -->


  <!-- <ion-row>
    <ion-col>Longtitude</ion-col>
    <ion-col> {{locationCordinates.longitude}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Latitude</ion-col>
    <ion-col>{{locationCordinates.latitude}}</ion-col>
  </ion-row> -->
  <div *ngIf="address">
  <ion-row>
    <ion-col>Location </ion-col>
    <ion-col>{{address}}</ion-col>
  </ion-row>
</div>
  
<form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
         
     
          <div padding>
            <ion-button  size="large" (click)="openMenu()"  expand="block">Menu</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
